<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>base page</title>
    {% endblock  %}

</head>
<body>
    {% include "partials/_header.html" %}

    {% block content  %}
     <div class="container">
         <div class="jumbotron">
             <center><h1>welcome to base page</h1></center>
         </div>
     </div>
      
    {% endblock  %}
    {% include "partials/_footer.html" %}
</body>
</html>